<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新增用户</title>
</head>
<body>
<div>
    <table id="dataTable" border="1" cellspacing="0" cellpadding="0" style="width:100% ;height:100%">
        <tr>
            <th colspan="5">用户信息表</th>
        </tr>
        <tr>
            <th>id</th>
            <th>用户名</th>
            <th>用户密码</th>
            <th>操作</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.password}"></td>
            <td>
                <a th:href="@{'/user/'+${user.id}}">add</a>
            </td>
        </tr>
    </table>
</div>
<div>
    <a th:href="@{/manager}">返回管理页面</a>
</div>
</body>
</html>